/*------------------------------------
[Master Stylesheet]

Project:	hqbm.ru
Version:	1.0.0
Primary user: hqbm.ru
------------------------------------*/

/* ----------------------------------
[Table of contents]

1.	Fonts
2.	Common styles
3.	Header
4.	Home
5.	Buy
6.	Proven
7.	About
8.	Contact
9.	Footer
10.	Modals
------------------------------------*/

/* ==================================
	Font
/* =================================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* ==================================
	Common styles
/* =================================*/

:root {
	--robot: "Roboto", Arial, sans-serif;
	--spectral: "Spectral", Arial, sans-serif;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--robot);
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	background-color: white;
}
a,
button {
	cursor: pointer;
}
.wrapper {
	overflow: hidden;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.def-btn {
	font-family: var(--spectral);
	font-size: 14px;
	font-style: italic;
	padding: 12px 30px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/* ======================
	Header styles
=======================*/

header {
	padding: 15px 0;
	border-bottom: 1px solid white;
}

header .header-logo {
	font-family: var(--spectral);
	font-weight: 300;
	font-size: 25px;
	letter-spacing: 1px;
	color: white;
}

header .header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	align-items: center;
	column-gap: 40px;
}
.nav-links .nav-links__item {
	font-size: 14px;
	color: white;
}

/* ===========================
	Home
=========================== */

.home-main {
	background: url("../images/home-bg.jpg") no-repeat;
	background-attachment: fixed;
	height: 90vh;
	min-height: 770px;
}

.home-wrapper {
	padding-top: 200px;
}
.home-wrapper .home-title {
	font-family: var(--spectral);
	font-weight: 300;
	font-size: 55px;
	letter-spacing: 1px;
	color: white;
}

.home-wrapper .home-title em {
	display: inline-block;
	transform: translate(-50px, 40px);
}

.home-wrapper .home-txt {
	font-weight: 300;
	font-size: 16px;
	padding-top: 10px;
	border-top: 1px solid white;
	margin-top: 75px;
	margin-left: auto;
	max-width: 400px;
	color: white;
	line-height: 160%;
}

/* =====================
	Buy
===================== */
#buy {
	padding-top: 50px;
}

.buy-cards {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
}

.buy-cards .card {
	width: 100%;
	max-width: calc(100% / 3 - 15px);
	cursor: pointer;
}
.buy-cards .card img {
	aspect-ratio: 2/2;
	object-fit: contain;
}

.buy-cards .card .card-txt {
	width: 100%;
	font-size: 16px;
	letter-spacing: 160%;
	color: black;
}

.buy-cards .card em {
	font-family: var(--spectral);
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0;
	display: block;
}

.buy-about {
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: 20%;
	margin-top: 120px;
	margin-bottom: 30px;
}
.buy-about > * {
	color: #646464;
}

.buy-about h1 {
	font-family: var(--spectral);
	font-size: 40px;
	font-weight: 300;
	line-height: 48px;
	margin-bottom: 30px;
}
.buy-about p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

.buy-accordion {
	width: 100%;
	border-top: 1px solid #eee;
}
.accordion-head {
	width: 100%;
	padding: 27px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accordion-head .accordion-btn {
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease 0.3s;
	border-radius: 50%;
}
.accordion-head:hover .accordion-btn {
	background-color: #eee;
}
.accordion-head h2 {
	font-family: "Spectral";
	font-size: 22px;
	font-weight: 300;
	color: #646464;
}
.accordion-body {
	overflow: hidden;
	height: 100%;
	max-height: 0;
	transition: max-height 0.5s ease-out;
}

/* ========================
	Proven
======================== */

#proven,
#question {
	background: url(../images/proven-bg.jpg) no-repeat;
	background-attachment: fixed;
	height: 700px;
}
.proven-title {
	width: 100%;
	max-width: 600px;
	text-align: center;
	color: white;
	padding-top: 200px;
	margin: 0 auto;
}

.proven-title h4 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
}
.proven-title h1 {
	font-family: var(--spectral);
	font-size: 40px;
	line-height: 62px;
	font-weight: 300;
}

.proven-title p {
	line-height: 25px;
	font-size: 16px;
	font-weight: 300;
}

.proven-title a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: white;
	border: 1px solid white;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 100px;
}

.ingredient {
	display: flex;
	align-items: flex-start;
	column-gap: 30px;
	padding-top: 50px;
	padding-bottom: 270px;
}
.ingredient-images {
	width: 475px;
	flex-shrink: 0;
	position: relative;
}

.ingredient-images img:last-child {
	max-width: 350px;
	max-height: 524px;
	position: absolute;
	bottom: calc(-100% / 2 + 150px);
	right: calc(-100% / 2 + 30px);
}

.ingredient-about {
	padding-top: 100px;
	color: #646464;
	max-width: 450px;
}
.ingredient-about h1 {
	font-family: var(--spectral);
	font-size: 40px;
	line-height: 48px;
	font-weight: 300;
	margin-bottom: 10px;
}
.ingredient-about p {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.proven-two {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/proven-bg2.png) !important;
}
.proven-two .proven-title {
	padding: 0;
}

/* ====================
	About
==================== */

#about {
	padding: 100px 0;
}
#about .about-title {
	font-family: var(--spectral);
	font-size: 40px;
	font-weight: 300;
	color: #646464;
	text-align: center;
}

.about-images {
	margin: 0 auto;
	margin-top: 50px;
	width: 100%;
	max-width: calc(100% - 300px);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 50px;
	column-gap: 150px;
}

.about-images img {
	width: 100%;
	max-width: 200px;
	object-fit: contain;
}

/* =======================
	Contact
======================= */
#contact {
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}
.contact-wrap {
	padding: 100px 0;
	display: flex;
	align-items: flex-start;
	column-gap: 50px;
}
.info-column {
	display: flex;
	align-items: flex-start;
}
.info-column:not(:last-child) {
	margin-bottom: 20px;
}

.info-column h4 {
	max-width: 150px;
	min-width: 72px;
	font-family: var(--spectral);
	font-size: 16px;
	color: #646464;
	line-height: 22px;
	font-weight: 300;
	margin-right: 40px;
}
.info-column p,
.info-column a {
	font-family: var(--spectral);
	font-size: 16px;
	color: #969696;
	font-weight: 300;
	line-height: 22px;
	max-width: 320px;
}
/* =======================
	Footer
======================= */

footer {
	padding: 100px 0;
}
footer .footer-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.footer-wrap h1 {
	font-family: var(--spectral);
	font-size: 25px;
	font-weight: 300;
	color: #646464;
	line-height: 34px;
	max-width: 340px;
}

.footer-links {
	display: flex;
	align-items: center;
	column-gap: 30px;
}
.footer-links a {
	color: #646464;
	font-size: 16px;
}

.footer-bottom {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	column-gap: 100px;
}
.footer-bottom p {
	font-size: 10px;
	font-weight: 300;
	color: #646464;
}

/* =================
	Modals
================= */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: 2;
	padding: 20px;
	opacity: 0;
	display: none;
}
.modal-container.show {
	display: block;
	opacity: 1;
}
.modal-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close-bodal {
	font-size: 13px;
	font-style: italic;
	opacity: 0.7;
	background-color: transparent;
	border: none;
	font-weight: 300;
}

.close-bodal::before {
	content: "â†";
}

.close-Xbtn {
	background-color: transparent;
	border: none;
	width: 23px;
	height: 23px;
}

.modal-body {
	height: calc(100vh - 43px);
	overflow-y: scroll;
	scroll-behavior: smooth;
	display: none;
	animation-name: modalAnimation;
	animation-duration: 0.7s;
	animation-delay: 0;
}
@keyframes modalAnimation {
	from {
		transform: translateY(50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
.modal-body::-webkit-scrollbar {
	display: none;
}

.modal-content {
	display: flex;
	align-items: flex-start;
	column-gap: 30px;
	padding: 40px 20px;
}

.modal-content > div {
	width: 100%;
	max-width: calc(100% / 2 - 15px);
}
.modal-img {
	height: 560px;
}
.modal-img img {
	object-fit: contain;
}

.modal-about h1 {
	font-size: 24px;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.35;
}
.modal-about .price {
	font-family: var(--spectral);
	font-size: 18px;
	line-height: 1.35;
	font-weight: 400;
	display: block;
	margin: 20px 0;
}
.modal-about button.add-basket {
	margin-bottom: 25px;
}
.modal-about p {
	font-family: var(--spectral);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
}
.modal-about p strong {
	font-family: var(--spectral);
	font-weight: 700;
	font-style: italic;
}
.modal-about p a {
	color: #646464;
}
