/*------------------------------------
[Master Stylesheet]

Project:	hqbm.ru
Version:	1.0.0
Primary user: hqbm.ru
------------------------------------*/

/* ----------------------------------
[Table of contents]

1.	Fonts
2.	Common styles
3.	Header
4.	Home
5.	Buy
6.	Proven
7.	About
8.	Contact
9.	Footer
10.	Modals
11.	Responsive
------------------------------------*/

/* ==================================
	Font
/* =================================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* ==================================
	Common styles
/* =================================*/

:root {
	--robot: "Roboto", Arial, sans-serif;
	--spectral: "Spectral", Arial, sans-serif;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--robot);
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	background-color: white;
}
a,
button {
	cursor: pointer;
}
.wrapper {
	overflow: hidden;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.def-btn {
	font-family: var(--spectral);
	font-size: 14px;
	font-style: italic;
	padding: 12px 30px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/* ======================
	Header styles
=======================*/

header {
	padding: 15px 0;
	border-bottom: 1px solid white;
}

header .header-logo {
	font-family: var(--spectral);
	font-weight: 300;
	font-size: 25px;
	letter-spacing: 1px;
	color: white;
}

header .header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	align-items: center;
	column-gap: 40px;
}
.nav-links .nav-links__item {
	font-size: 14px;
	color: white;
}

/* ===========================
	Home
=========================== */

.home-main {
	background: url("../images/home-bg.jpg") no-repeat;
	background-attachment: fixed;
	height: 90vh;
	min-height: 770px;
}

.home-wrapper {
	padding-top: 200px;
}
.home-wrapper .home-title {
	font-family: var(--spectral);
	font-weight: 300;
	font-size: 55px;
	letter-spacing: 1px;
	color: white;
}

.home-wrapper .home-title em {
	display: inline-block;
	transform: translate(-50px, 40px);
}

.home-wrapper .home-txt {
	font-weight: 300;
	font-size: 16px;
	padding-top: 10px;
	border-top: 1px solid white;
	margin-top: 75px;
	margin-left: auto;
	max-width: 400px;
	color: white;
	line-height: 160%;
}

.home-txt .md-link {
	display: none;
	color: white;
	font-weight: 400;
	border-bottom: 1px solid white;
	margin-top: 25px;
}
/* =====================
	Buy
===================== */
#buy {
	padding-top: 50px;
}

.buy-cards {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
}

.buy-cards .card {
	width: 100%;
	max-width: calc(100% / 3 - 15px);
	cursor: pointer;
}
.buy-cards .card img {
	aspect-ratio: 2/2;
	object-fit: contain;
}

.buy-cards .card .card-txt {
	width: 100%;
	font-size: 16px;
	letter-spacing: 160%;
	color: black;
}

.buy-cards .card em {
	font-family: var(--spectral);
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0;
	display: block;
}

.buy-about {
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: 20%;
	margin-top: 120px;
	margin-bottom: 30px;
}
.buy-about > * {
	color: #646464;
}

.buy-about h1 {
	font-family: var(--spectral);
	font-size: 40px;
	font-weight: 300;
	line-height: 48px;
	margin-bottom: 30px;
}
.buy-about p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

.buy-accordion {
	width: 100%;
	border-top: 1px solid #eee;
}
.accordion-head {
	width: 100%;
	padding: 27px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accordion-head .accordion-btn {
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease 0.3s;
	border-radius: 50%;
}
.accordion-head:hover .accordion-btn {
	background-color: #eee;
}
.accordion-head h2 {
	font-family: "Spectral";
	font-size: 22px;
	font-weight: 300;
	color: #646464;
}
.accordion-body {
	overflow: hidden;
	height: 100%;
	max-height: 0;
	transition: max-height 0.5s ease-out;
}

/* ========================
	Proven
======================== */

#proven,
#question {
	background: url(../images/proven-bg.jpg) no-repeat;
	background-attachment: fixed;
	height: 700px;
}
.proven-title {
	width: 100%;
	max-width: 600px;
	text-align: center;
	color: white;
	padding-top: 200px;
	margin: 0 auto;
}

.proven-title h4 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
}
.proven-title h1 {
	font-family: var(--spectral);
	font-size: 40px;
	line-height: 62px;
	font-weight: 300;
}

.proven-title p {
	line-height: 25px;
	font-size: 16px;
	font-weight: 300;
}
.proven-title .proven-title__txt {
	margin-top: 45px;
}

.proven-title a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: white;
	border: 1px solid white;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 100px;
}

.ingredient {
	display: flex;
	align-items: flex-start;
	column-gap: 30px;
	padding-top: 50px;
	padding-bottom: 270px;
}
.ingredient-images {
	width: 475px;
	flex-shrink: 0;
	position: relative;
}

.ingredient-images img:last-child {
	max-width: 350px;
	max-height: 524px;
	position: absolute;
	bottom: calc(-100% / 2 + 150px);
	right: calc(-100% / 2 + 30px);
}

.ingredient-about {
	padding-top: 100px;
	color: #646464;
	max-width: 450px;
}
.ingredient-about h1 {
	font-family: var(--spectral);
	font-size: 40px;
	line-height: 48px;
	font-weight: 300;
	margin-bottom: 10px;
}
.ingredient-about p {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.proven-two {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/proven-bg2.png) !important;
	background-position: center bottom;
}
.proven-two .proven-title {
	padding: 0;
}

/* ====================
	About
==================== */

#about {
	padding: 100px 0;
}
#about .about-title {
	font-family: var(--spectral);
	font-size: 40px;
	font-weight: 300;
	color: #646464;
	text-align: center;
}

.about-images {
	margin: 0 auto;
	margin-top: 50px;
	width: 100%;
	max-width: calc(100% - 200px);
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 100px;
	row-gap: 50px;
	flex-wrap: wrap;
}

.about-images img {
	width: 100%;
	max-width: calc(100% / 3 - 67px);
	object-fit: contain;
}

/* =======================
	Contact
======================= */
#contact {
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}
.contact-wrap {
	padding: 100px 0;
	display: flex;
	align-items: flex-start;
	column-gap: 50px;
}
.info-column {
	display: flex;
	align-items: flex-start;
}
.md__info-column {
	display: none;
}
.sm__info-column {
	display: none;
}
.color-6464 {
	color: #646464 !important;
}
.info-column:not(:last-child) {
	margin-bottom: 20px;
}

.info-column h4 {
	max-width: 150px;
	min-width: 72px;
	font-family: var(--spectral);
	font-size: 16px;
	color: #646464;
	line-height: 22px;
	font-weight: 300;
	margin-right: 40px;
}
.info-column p,
.info-column a {
	font-family: var(--spectral);
	font-size: 16px;
	color: #969696;
	font-weight: 300;
	line-height: 22px;
	max-width: 320px;
}
/* =======================
	Footer
======================= */

footer {
	padding: 100px 0;
}
footer .footer-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.footer-wrap h1 {
	font-family: var(--spectral);
	font-size: 25px;
	font-weight: 300;
	color: #646464;
	line-height: 34px;
	max-width: 340px;
}

.footer-links {
	display: flex;
	align-items: center;
	column-gap: 30px;
}
.footer-links a {
	color: #646464;
	font-size: 16px;
}

.footer-bottom {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	column-gap: 100px;
}
.footer-bottom p {
	font-size: 10px;
	font-weight: 300;
	color: #646464;
}

/* =================
	Modals
================= */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: 2;
	padding: 20px;
	opacity: 0;
	display: none;
}
.modal-container.show {
	display: block;
	opacity: 1;
}
.modal-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close-bodal {
	font-size: 13px;
	font-style: italic;
	opacity: 0.7;
	background-color: transparent;
	border: none;
	font-weight: 300;
}
.close-bodal img {
	display: none;
}

.close-bodal::before {
	content: "←";
}

.close-Xbtn {
	background-color: transparent;
	border: none;
	width: 23px;
	height: 23px;
}

.modal-body {
	height: calc(100vh - 43px);
	overflow-y: scroll;
	scroll-behavior: smooth;
	display: none;
	animation-name: modalAnimation;
	animation-duration: 0.7s;
	animation-delay: 0;
}
@keyframes modalAnimation {
	from {
		transform: translateY(50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
.modal-body::-webkit-scrollbar {
	display: none;
}

.modal-content {
	display: flex;
	align-items: flex-start;
	column-gap: 30px;
	padding: 40px 20px;
}

.modal-content > div {
	width: 100%;
	max-width: calc(100% / 2 - 15px);
}
.modal-img {
	height: 560px;
	background-color: #eee;
}
.modal-img img {
	object-fit: contain;
}

.modal-about h1 {
	font-size: 24px;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.35;
}
.modal-about .price {
	font-family: var(--spectral);
	font-size: 18px;
	line-height: 1.35;
	font-weight: 400;
	display: block;
	margin: 20px 0;
}
.modal-about button.add-basket {
	margin-bottom: 25px;
}
.modal-about p {
	font-family: var(--spectral);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
}
.modal-about p strong {
	font-family: var(--spectral);
	font-weight: 700;
	font-style: italic;
}
.modal-about p a {
	color: #646464;
}

.basket-modal-container {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
}
.basket-modal-container.show {
	display: block;
}
.basket-modal-content {
	position: absolute;
	top: 0;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 560px;
	height: 100vh;
	overflow-y: scroll;
	padding-top: 70px;
}
.basket-modal-content::-webkit-scrollbar {
	display: none;
}
.close-bg {
	position: fixed;
	z-index: 4;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.basket-modal-close {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 5;
	background-color: transparent;
	border: none;
}

.basket-modal-body {
	background-color: white;
	padding: 40px;
	animation-name: modalAnimation;
	animation-duration: 0.5s;
	animation-delay: 0;
}
.basket-modal-body .basket-title {
	font-family: var(--spectral);
	font-size: 24px;
	font-weight: 400;
	color: black;
	font-style: italic;
}

.basket-products {
	margin: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.basket-products .product-list {
	padding-top: 15px;
}

.basket-products .product-list,
.product-list .product-list__left,
.product-list .product-list__right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
}
.product-list .product-list__left {
	width: calc(50% + 10px);
}

.product-list .product-img {
	width: 70px;
	flex-shrink: 0;
}

.product-list a {
	color: black;
	font-family: var(--spectral);
	line-height: 1.55;
	font-style: italic;
	margin-right: auto;
	width: 100%;
	max-width: 205px;
}

.product-calc {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
	min-width: 100px;
}
.product-calc img {
	flex-shrink: 0;
	cursor: pointer;
	opacity: 0.5;
}
.remove-product-btn {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border: none;
	background-color: transparent;
	opacity: 0.5;
}
.product-list:hover .product-calc img,
.product-list:hover .remove-product-btn {
	opacity: 1;
}
.product-calc input[type="number"] {
	min-width: 20px;
	width: 20px;
	padding: 2px 5px;
	-moz-appearance: textfield;
	font-family: var(--spectral);
	font-size: 16px;
	line-height: 16px;
	border: 1px solid rgba(0, 0, 0, 0);
}
.product-list input:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.product-calc input::-webkit-outer-spin-button,
.product-list input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.product-calc input[type="number"]:focus {
	width: 40px;
	border: 2px solid black;
}

.product-list-price {
	min-width: 80px;
	text-align: left;
}
.product-list-price h5 {
	font-family: var(--spectral);
	font-weight: 300;
	font-size: 16px;
}

h4.all-price {
	font-family: var(--spectral);
	font-size: 16px;
	text-align: end;
	font-style: italic;
	margin-bottom: 40px;
}

.modal-series > *:not(:last-child) {
	margin-bottom: 20px;
}

.series label {
	font-family: var(--spectral);
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 5px;
	display: block;
}
.series input:not([type="radio"]):not([type="checkbox"]),
.series textarea {
	width: 100%;
	height: 55px;
	border: 1px solid #000000;
	color: #000000;
	padding: 0 20px;
}

.series textarea {
	height: 100px;
	padding: 20px;
}
.series .min-title {
	font-size: 16px;
	font-family: var(--spectral);
	margin-bottom: 5px;
	font-weight: 300;
}
.check-list input[type="radio"] {
	border-radius: 50%;
}
.check-list input[type="radio"],
.check-list input[type="checkbox"] {
	border: 2px outset black;
	appearance: none;
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
	position: relative;
	margin-right: 5px;
}
.check-list input[type="radio"]::before,
.check-list input[type="checkbox"]::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.check-list input[type="checkbox"]::before {
	content: "";
	border: solid #000;
	border-width: 0 2px 2px 0;
	height: 8px;
	left: 6px;
	position: absolute;
	top: 2px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 3px;
	border-radius: 0;
	display: none;
}
.check-list input[type="radio"]:checked::before {
	background-color: black;
}
.check-list input[type="checkbox"]:checked::before {
	display: block;
}
.check-list label {
	font-family: var(--robot);
	font-size: 15px;
	margin-bottom: 10px;
}

.modal-bottom {
	margin-top: 50px;
	text-align: end;
}

.modal-bottom h5,
b {
	font-family: var(--spectral);
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
}
.modal-bottom b {
	font-weight: 600;
	font-size: 16px;
}
.basket-btn {
	width: 100%;
	border-radius: 0;
	margin-top: 25px;
}

/* =====================
	Responsive
===================== */
@media screen and (max-width: 1200px) {
	header .header-logo {
		font-size: 20px;
	}
	.container {
		max-width: 960px;
	}
}
@media screen and (max-width: 1199px) {
	.modal-about h1 {
		font-size: 22px;
	}
	.footer-bottom {
		column-gap: 50px;
	}
	.footer-bottom p {
		font-size: 10px;
	}
	.footer-links a {
		font-size: 14px;
		line-height: 19px;
	}
	.footer-wrap h1 {
		font-size: 23px;
		line-height: 31px;
	}
	.info-column h4 {
		width: 130px;
		font-size: 14px;
		line-height: 19px;
	}
	.info-column p,
	.info-column a {
		font-size: 14px;
		line-height: 19px;
		width: 280px;
	}
	.lg__info-column {
		display: none;
	}
	.md__info-column {
		display: block;
	}
	#about .about-title {
		font-size: 37px;
	}
	#question {
		background-attachment: scroll;
		height: 650px;
		background-size: cover;
	}
	.ingredient-about h1 {
		font-size: 37px;
		line-height: 44px;
	}
	.ingredient-about p {
		font-size: 14px;
		line-height: 19px;
	}
	.proven-title h4,
	.proven-title p {
		font-size: 14px;
	}
	.proven-title a {
		font-size: 12px;
	}
	#proven {
		height: 650px;
		background-attachment: scroll;
		background-size: cover;
		background-position: center center;
	}
	.buy-about h1 {
		font-size: 37px;
	}
	.buy-about p {
		font-size: 14px;
	}
	.buy-about {
		margin-right: 0;
	}
	.home-main {
		background-attachment: scroll;
		background-size: cover;
		min-height: 650px;
	}
	.nav-links {
		display: none;
	}
	.home-wrapper .home-title {
		font-size: 40px;
	}
	.home-wrapper .home-txt {
		font-size: 14px;
		max-width: 334px;
	}
	.home-txt .md-link {
		width: fit-content;
		display: block;
	}
}
@media screen and (max-width: 980px) {
	.modal-content {
		flex-direction: column;
		row-gap: 20px;
	}
	.modal-content > div {
		max-width: 580px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 960px) {
	.contact-wrap {
		padding: 10px 0 40px 0;
	}
	.footer-wrap h1 {
		max-width: 135px;
	}
	.footer-links {
		margin-top: 30px;
		column-gap: 20px;
	}
	.md-info-column {
		display: none;
	}
	.sm__info-column {
		display: flex;
	}
	.info-column p {
		width: 100%;
		max-width: 100%;
	}
	.info-column h4 {
		flex-shrink: 0;
	}
	.about-images {
		max-width: 100%;
	}
	.about-images img {
		max-width: calc(100% / 2 - 150px);
	}
	#about .about-title {
		font-size: 34px;
		line-height: 150%;
	}
	.home-main {
		min-height: 700px;
	}
	#question {
		background-image: url("../images/proven-bg2.png");
		background-position: center top;
		height: 700px;
	}
	.ingredient-images {
		width: 412px;
		height: 520px;
	}
	.ingredient-images img:last-child {
		width: 270px;
		height: 363px;
	}
	.ingredient {
		flex-direction: column-reverse;
		row-gap: 25px;
	}
	.ingredient-about {
		margin: 0 auto;
		padding: 0;
	}
	.proven-title {
		max-width: 500px;
	}
	.proven-title h1 {
		font-size: 35px;
	}
	.proven-title h4 {
		font-size: 14px;
	}
	#proven {
		background-position: center top;
		background-image: url("../images/proven-bg2.jpg");
		height: 700px;
	}
	.buy-about {
		max-width: 420px;
	}
	.buy-about h1 {
		font-size: 34px;
		margin-bottom: 10px;
	}
	.buy-cards {
		flex-wrap: wrap;
	}
	.buy-cards .card {
		max-width: calc(100% / 2 - 15px);
	}
	.container {
		max-width: 640px;
	}
	.home-wrapper .home-title {
		font-size: 35px;
	}
}
@media screen and (max-width: 670px) {
	.contact-wrap {
		padding-left: 20px;
	}
	.modal-about button.add-basket {
		width: 100%;
	}
	.info-column:not(:last-child) {
		margin-bottom: 10px;
	}
	footer .footer-wrap {
		justify-content: flex-start;
		column-gap: 40px;
	}
	.footer-links {
		margin-top: 0;
		flex-direction: column;
		row-gap: 10px;
		align-items: flex-start;
	}
	.card .card-btn {
		width: 100%;
	}
}
@media screen and (max-width: 640px) {
	.contact-wrap {
		padding-top: 0;
	}
	.product-list .product-img {
		height: 70px;
	}
	.product-list .product-img img {
		object-fit: cover;
	}
	.product-list .product-list__left {
		align-items: flex-start;
	}
	.basket-modal-body .basket-title {
		line-height: 150%;
		font-size: 20px;
	}
	.basket-products {
		padding-bottom: 20px;
	}
	.basket-modal-content {
		max-width: 460px;
	}
	.basket-products .product-list {
		position: relative;
		flex-wrap: wrap;
	}
	.product-list .product-list__right {
		margin-left: 70px;
	}
	.remove-product-btn {
		position: absolute;
		top: 20px;
		right: 0;
	}
	.check-list label {
		font-size: 12px;
	}
	.product-list .product-list__left {
		width: calc(100% - 20px);
	}
	.product-list a {
		max-width: 100%;
	}
	.modal-about h1 {
		font-size: 20px;
	}
	#about .about-title {
		font-size: 30px;
	}
	.buy-about {
		max-width: 330px;
	}
	.buy-about h1 {
		font-size: 30px;
		line-height: 36px;
	}
	.buy-about p {
		font-size: 13px;
		line-height: 18px;
	}
	#question {
		background-position: center center;
	}
	.proven-title p {
		line-height: 20px;
	}
	.ingredient-about {
		max-width: 270px;
	}
	.ingredient-about h1 {
		line-height: 36px;
		font-size: 30px;
	}
	.ingredient-about p {
		line-height: 18px;
		font-size: 13px;
	}
	.ingredient-images {
		margin-left: 50px;
	}
	.ingredient-images img:last-child {
		width: 220px;
		height: 302px;
		bottom: calc(-100% / 2 + 140px);
		right: calc(-100% / 2 + 130px);
	}
	.proven-title h4 {
		font-size: 13px;
	}
	.proven-title h1 {
		font-size: 30px;
		line-height: 44px;
	}
	.proven-title p {
		font-size: 13px;
	}
	.proven-title a {
		font-size: 11px;
		margin-top: 150px;
	}
	.proven-title {
		max-width: 450px;
	}
	.container {
		padding: 0 10px;
	}
	.home-main {
		background-position: left top;
		background-image: url("../images/home-bg2.jpg");
		background-attachment: scroll;
		background-size: cover;
	}
	#proven {
		background-position: left top;
	}
	.home-wrapper .home-title {
		font-size: 30px;
		margin-left: 60px;
	}
	.home-wrapper .home-title em {
		transform: translate(-65px, 30px);
	}
	.home-wrapper .home-txt {
		max-width: 310px;
		margin-right: 60px;
		font-size: 13px;
	}
}

@media screen and (max-width: 610px) {
	.home-wrapper .home-title {
		margin-left: 30px;
	}
	.home-wrapper .home-txt {
		margin-right: 15px;
	}
}
@media screen and (max-width: 600px) {
	.footer-bottom {
		gap: 20px;
		flex-wrap: wrap;
	}
	.ingredient-images {
		margin-left: 30px;
	}
	.about-images {
		column-gap: 100px;
	}
	.about-images img {
		max-width: 130px;
	}
}
@media screen and (max-width: 576px) {
	.home-wrapper .home-title {
		margin-left: 0;
	}
}
@media screen and (max-width: 560px) {
	.basket-modal-close {
		width: 16px;
		height: 16px;
		top: 17px;
	}
	.basket-modal-close img {
		width: 100%;
		height: 100%;
	}
	.basket-modal-content {
		max-width: 100%;
		padding-top: 0;
		margin-top: 50px;
	}
	.close-bg {
		background-color: #000;
	}
	.modal-img {
		height: fit-content;
	}
	.modal-img img {
		aspect-ratio: 2/2;
		display: block;
	}
	.modal-content {
		padding: 40px 10px;
		padding-top: 20px;
	}
	.close-Xbtn {
		display: none;
	}
	.close-bodal span,
	.close-bodal::before {
		display: none;
	}
	.close-bodal img {
		display: block;
	}
	.modal-container {
		padding: 0;
	}
	.modal-head {
		padding: 20px;

		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}
@media screen and (max-width: 550px) {
	.home-wrapper .home-title {
		white-space: nowrap;
	}
	.home-wrapper .home-title em {
		transform: translate(-85px, 30px);
	}
	.ingredient-images {
		margin: 0;
	}
}

@media screen and (max-width: 480px) {
	.info-container:first-child .info-column:nth-child(2) {
		margin-bottom: 0 !important;
	}
	.info-column:not(:last-child) {
		margin-bottom: 20px;
	}
	.info-column {
		align-items: center;
	}
	#contact .container, footer .container {
		padding: 0 50px;
	}
	.ingredient {
		padding-bottom: 150px;
	}
	.basket-modal-body {
		padding: 20px;
	}
	.modal-head {
		padding: 10px 20px;
	}
	footer {
		padding: 25px 0;
	}
	.footer-bottom {
		gap: 10px;
	}
	.footer-wrap h1 {
		max-width: 70px;
		font-size: 17px;
		line-height: 23px;
	}
	.contact-wrap {
		padding: 25px 0;
	}
	.info-column p,
	.info-column a {
		font-size: 13px;
		line-height: 18px;
		padding-right: 60px;
	}
	.info-column h4 {
		font-size: 13px;
		line-height: 18px;
		margin-right: 20px;
		width: 81px;
	}
	.about-images {
		margin-top: 30px;
	}
	#about .about-title {
		font-size: 25px;
		line-height: 30px;
	}
	#question {
		height: 500px;
		background-position: center top;
	}
	.ingredient-about {
		max-width: 230px;
	}
	.ingredient-images {
		max-width: 264px;
		height: 325px;
		margin-left: 12%;
	}
	.ingredient-images img:last-child {
		width: 127px;
		height: 194px;
		bottom: calc(-100% / 2 + 80px);
		right: calc(-100% / 2 + 80px);
	}
	.ingredient-about {
		margin: 0;
		margin-left: auto;
	}
	.ingredient-about h1 {
		font-size: 25px;
	}
	.proven-title h1 {
		font-size: 25px;
		line-height: 39px;
	}
	.proven-title p {
		line-height: 20px;
	}
	.proven-title {
		max-width: 300px;
	}
	#proven {
		background-position: center bottom;
	}
	.buy-cards .card img {
		aspect-ratio: auto;
	}
	.buy-about {
		max-width: 220px;
	}
	.buy-about h1 {
		font-size: 24px;
		line-height: 140%;
	}
	.buy-about p {
		font-size: 13px;
		line-height: 19px;
	}
	.buy-cards {
		flex-direction: column;
	}
	.buy-cards .card {
		max-width: 100%;
	}
	header .header-logo {
		font-size: 18px;
	}
	.home-wrapper .home-title {
		margin-left: 50px;
		font-size: 25px;
	}
	.home-wrapper .home-title em {
		font-size: 23px;
		transform: translate(-105px, 25px);
	}
	.home-wrapper .home-txt {
		margin-right: 50px;
		max-width: 210px;
		margin-top: 70px;
	}
	.home-main {
		background-position: center top;
	}
	.home-txt .md-link {
		margin-top: 50px;
	}
}

@media screen and (max-width: 430px) {
	.ingredient-images {
		margin-left: 30px;
	}
}

@media screen and (max-width: 390px) {
	#contact .container, footer .container {
		padding: 0 20px;
	}
	.about-images {
		column-gap: 0;
		justify-content: space-between;
	}
	.home-wrapper .home-title em {
		transform: translate(-100px, 25px);
	}
	.home-wrapper .home-title {
		margin-left: 20px;
	}
	.home-wrapper .home-txt {
		margin-right: 10px;
	}
	.ingredient-images {
		margin: 0;
	}
}
@media screen and (max-width: 350px) {
	.home-wrapper .home-title {
		margin-left: 0;
	}
	.home-wrapper .home-txt {
		margin-right: 0;
	}
}
